<!DOCTYPE html>
<html>
  <head>
    <title>Pug | Get In The Game</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if Rails.env.development? %>
      <script src="http://localhost:3808/webpack-dev-server.js"></script>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_API_TOKEN'] %>"></script>
    <script type="text/javascript' src='https://maps.googleapis.com/maps/api/js?key= <%= ENV['GOOGLE_API_TOKEN'] %>" ></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Palanquin:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark|Palanquin:200" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag *webpack_asset_paths('application') %>
  </body>
</html>
